.center
    %table
        %tr
            %th= "Team member name"
            %th= "Rank"
            %th= "Comment"
        = form_tag assignment_ranks_path(method: :post) do
            = hidden_field_tag "ranks[assignment_id]", @assignment.id 
            - @ranks.each do |rank|
                %tr
                    %td= label_tag @team_members.find(rank.receiver_id).name
                    %td= select_tag "ranks[ratings][#{rank.receiver_id}]", options_for_select(Rank.ratings.map {|k, v| [k.humanize.capitalize, v]})
                    %td= text_field_tag "ranks[comments][#{rank.receiver_id}]"
            %tr
                %td= submit_tag 'Submit'