.center
    = form_tag rank_path(method: :post) do
        - @ranks.each do |rank|
            = label_tag @team_members.find(rank.receiver_id).name
            = text_field_tag "ranks[#{rank.receiver_id}]" 
        = submit_tag 'Submit'