= button_to "Recalculate Scores", assignment_path(assignment.id), method: :get, class: "btn btn-primary"

%br
#accordion.panel-group
    -teams.each do |team|
        .panel.panel-default
            .panel-heading
                %h4.panel-title
                %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse#{team.team_id}"}
                    %h4= team.team_name
            %div{id: "collapse#{team.team_id}", class: "panel-collapse collapse"}
                .panel-body
                    %table.table.table-responsive-md.table-striped
                        %thead
                            %tr
                                %th Student Id
                                %th Student Name
                                - for i in 1..team.students.length()
                                    %th= "Vote #{i}"
                                %th Individual Avgerage
                                %th Team Average
                                %th Adj Factor Cap
                                %th Individual Project Grade
                                %th Adj. Fctr.
                                %th Team Grade
                                %th Individual Grade
                                
                        %tbody
                            - team.students.each do |student|
                                %tr
                                    %td= student.student_id
                                    %td= student.name
                                    - student.received_ranks.where(assignment_id: assignment.id).each do |rank|
                                        %td= rank.rating.humanize
                                    - for i in 1..(team.students.length() - student.received_ranks.where(assignment_id: assignment.id).length())
                                        %td= "N/A"
                                    %td= assignment.assignments_students.find_by(student_id: student.id).individual_average
                                    %td= team.team_average
                                    %td= assignment.adjustment_factor_cap
                                    %td= assignment.assignments_students.find_by(student_id: student.id).individual_project_grade
                                    %td= assignment.assignments_students.find_by(student_id: student.id).adjustment_factor
                                    %td= team.team_grade
                                    %td= assignment.assignments_students.find_by(student_id: student.id).individual_grade
                        

                            
                
                    
